@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: peachpuff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
    font-weight: 900;
    
}
.container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
    background-color: white;
    font-weight: 900;

}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color:peachpuff;
    border-bottom: 2px solid papayawhip;
    font-weight: 900;

}
.logo {
	color: black;
	font-weight: 900;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 40px;
    letter-spacing: 4px;
    font-weight: 900;

}
nav {
	float: right;
	width: 50%;
	text-align: right;
    margin-right: 25px;
    font-weight: 900;

}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: black;
	font-size: 30px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: 900;
	transition: all 0.3s linear;
}
ul li a {
	color: black;
	text-decoration: none;
}
ul li:hover a {
	color: peachpuff;
}
.hero_header {
	color: black;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}

.hero {
	background-color: white;
	padding-top: 60px;
	padding-bottom: 120px;
}
.light {
	font-weight: bold;
	color: black;
}
.tagline {
	text-align: center;
	color: black;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.subtagline {
	text-align: center;
	color: black;
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: -100px;
	font-weight: lighter;
	letter-spacing: 1px;
}
.text_column {
    width: 70%;
	text-align: center;
	font-weight: lighter;
	line-height: 25px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}
.about {
	padding-left: 30px;
	padding-right: 25px;
    padding-top: 35px;
	display: inline-block;
	background-color: white;
	margin-top: 0px;
	margin: auto;
}

.banner {
	background-color: peachpuff;
	background-image:
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
butt
	color: black;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
footer {
	background-color: peachpuff;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: white;
	text-align: center;
}
footer .footer_column p {
	color: peachpuff;
	background-color: peachpuff;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: 900;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 400px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	margin: center;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	border: 3px solid peachpuff;
	color: black;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: peachpuff;
	color: black;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: peachpuff;
	color: black;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20PX;
	margin-bottom: 9px;
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	margin: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}

.banner {
	background-color: peachpuff;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}
@media (min-width : 318px ) and ( max-width : 767px ){
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: black;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: peachpuff;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}

.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}